<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MicroBlog</title>
	<link rel="stylesheet" href="../index.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="../index.js"></script>
	<script src="https://use.fontawesome.com/1a97ba4316.js"></script>
</head>
<body>
	<header>
		<div class="main-btn fleft big-padding"><a href="/" title="Home">MicroBlog</a></div>
		<nav class="fright">
			<ul>
				<% if session[:user_id] %>
					<li class="fleft small-padding session-options">
						<a href="/profile/<%= session[:user_id] %>" title="Edit Profile"><%= User.find(session[:user_id]).full_name %></a>
					</li>
					<li class="fleft small-padding session-options"><a href="/all-users">Follow Others</a></li>
					<li class="fleft small-padding session-options"><a href="/sign-out">Sign Out</a></li>
				<% else %>
					<li class="fleft small-padding session-options">
						<form id="sign-in" action="/sign-in" method="POST">
							<input class="big-input" type="text" placeholder="Email" name="email">
							<%= erb :password %>
							<button class="button green" type="submit" form="sign-in">Sign In</button>
						</form>
					</li>
					<li id="sign-up-link" class="fleft small-padding session-options"><a href="/sign-up">Sign Up</a></li>
				<% end %>
			</ul>
		</nav>
	</header>
	<div id="header-block"></div>
	<%= yield %>
</body>
</html>