<div class="post-box side-borders bottom-border">
	<div class="post-header">
		<span class="username"><%= user.full_name %></span>
		<span class="created"><%= post.created %></span>
	</div>	
	<div class="content"><%= post.content %></div>
</div>