<div class="main">
	<div class="pretty-form clearfix">
		<p class="banner">Enter Your Info</p>
		<form action="/sign-up" id="sign-up-form" method="POST">
			<div class="form-item">
				<input class="big-input" type="text" name="fname" placeholder="First Name">
				<input class="big-input" type="text" name="lname" placeholder="Last Name">
				<input class="big-input" type="text" name="email" placeholder="Email">
				<div class="for-icon">
					<input class="big-input" type="password" name="password" placeholder="Password">
					<i id="show-pass" class="fa fa-eye" title="Show Password"></i>
				</div>
				<input class="big-input" type="text" name="city" placeholder="City">
				<input class="big-input" type="text" name="state" placeholder="State">
				<input class="big-input" type="text" name="bday" placeholder="Birthday (yyyy-mm-dd)">
			</div>
			<button class="button" type="submit" form="sign-up-form">Sign Up</button>
		</form>
	</div>
</div>